[Unit]
Description=SysNotAdmin Service
After=network.target

[Service]
ExecStart=/opt/sysnotadmin/sysnotadmin
WorkingDirectory=/opt/sysnotadmin
User=sysnotadmin
Group=sysnotadmin
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
